*{
    margin: 0;
    padding: 0;
    
}


body{
    margin: 18px;
    padding:12px;
    background: url(kat-yukawa-754726-unsplash.jpg) no-repeat top center;
    background-size: cover;
      height: 100vh;
    overflow-x: hidden;
}

.BoxContained1,.BoxContained2,.BoxContained3,.BoxContained4{
    margin: 20px 20px;
    padding: 10px 10px 10px 10px;
    
}

.BoxContained1{
  position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
.BoxContained1 h1{
    color: white;
    letter-spacing: 5px;
    font-size: 36px;
text-align: center;
}

.BoxContained1 h2{
    color: white;
    text-align: center;
    font-size: 18px;
}
.BoxContained1 p{
    color: white;
    letter-spacing: 3px;
    margin: 10PX
}
.BoxContained2{
 position: absolute;
    bottom: 15%;
    right : 20px;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
}

.BoxContained3{
    position: absolute;
    bottom: 30%;
    right: 20px;
    font-size: 18px;
    color: white;
    margin: 38px;
    letter-spacing: 1px;
    
}

.BoxContained4{
    color: azure;
    position: absolute;
    bottom: 8%;
    left: 3%;
    width: 100%;
    background: rgba(0,0,0,.1);
    margin:auto;
    border-radius: 5px;
    display: flex;
    box-shadow: 0 0 10px rgba(0,0,0,1);
}

.BoxContained4 input{
    margin: 10px 0;
    background: transparent;
    color: white;
    border: 0px;
    border-bottom: solid 2px azure;
    
    
}

.BoxContained4 textarea{
    margin: 10px 0;
    background: transparent;
    border-bottom: solid 2px azure;
}

::placeholder{
    color: #cccccc;
    font-size: 15px;
}

.nav{
    background-color: grey;
}
.left{
    float: left;
}

.left ul{
    
    list-style: none;
    padding: 1em 3em;
}

.left ul li{
    display: inline-block;
}

.left ul li a{
    text-decoration: none;
    padding: 8px 16px;
    
    color: aliceblue;
    font-weight: 500;
    font-size:20px;
    margin: 0 50px;
}
.left ul li a:hover{
    color: darkgray;
    
}

.right{
    float: left;
    position: absolute;
    right:5px;
    
}

.right ul{
    list-style: none;
    padding: 1em 3em;
}

.right ul li{
    display: inline-block;
}

.right ul li a{
    text-decoration: none;
    padding: 8px 16px;
    color: aliceblue;
    font-weight: 500;
 border: solid 2px  midnightblue;
    background-color:  midnightblue;
}

.right ul li a:hover{
    background : url(Button.jpg) ;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}


footer{
    position: absolute;
    bottom: 0px;
    right: 15%;
}

footer a{
    margin: 0 30px;
    background:transparent;
    color: #e6e6ff;
    border-bottom: white;
    font-size: 18px;
    text-decoration: none;
    
}
footer a:hover{
    color: darkgray;
}